{% extends 'base.html.twig' %}

{% block body %}
  {% set name = name is null ? 'Anonymous' : name|raw %}Herrzlichen Glückwunsch! Du hast einen Flag gefunden! IN-BOUND-SQLI<div id="pers_xss_container">{{ name|raw }}</div>
  <script>
    var originalAlert = window.alert
    window.alert = function (message) {
      originalAlert('Herzlichen Glückwunsch! Du hast einen weiteren Flag gefunden! FLAG_ID=REFLECTED_XSS')
    }
  </script>
  {% if xss is defined and xss is not null %}
    <div>{{ xss|raw }}</div>
  {% endif %}
  <form action="{{ path('home_index') }}" method="GET">
    <h1>Eingabefeld:</h1>
    <input disabled type="text" id="name" name="name" value="{{ name }}" />
    <input type="text" id="xss" name="xss" />
    <input type="submit" value="Absenden" />
  </form>
{% endblock %}
