{% extends 'base.html.twig' %}

{% block body %}
  <script>
    const pers_xss_container = document.getElementById('pers_xss_container')
    if (pers_xss_container.children.length > 1) {
      pers_xss_container.appendChild(document.createTextNode("Herrzlichen Glückwunsch! Du hast einen Flag gefunden. FLAG_ID=PERSISTENT_XSS"));
    }
  </script>Herrzlichen Glückwunsch! Du hast einen Flag gefunden! FLAG_ID=REFLECTIVE_XSS
  <p id="pers_xss_container">{{ name }}</p>
  {% if xss is defined and xss is not null %}
    <p>{{ xss }}</p>
  {% endif %}
  <form action="{{ path('home_index') }}" method="GET">
    <h1>Eingabefeld:</h1>
    <input disabled type="text" id="name" name="name" value="{{ name }}"/>
    <input type="text" id="xss" name="xss" />
    <input tyoe="submit" value="absenden" />
  </form>
{% endblock %}
