{% extends 'base.html.twig' %}

{% block body %}
  Herrzlichen Glückwunsch! Du hast einen Flag gefunden, warten noch 4 weitere.
  {% if xss is defined AND xss IS NOT NULL %}
  <p>
    {{ xss }}
  </p>
  {% endif %}
  <from action="{{path('home_index')}}" method="GET">
    <h1> Eingabefeld: </h1>
    <input type="text" id="xss" name="xss" />
    <input tyoe="submit" value="absenden" /> 
  </form>
{% endblock %}
