{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
  <form action="{{ path('app_register') }}" method="POST">
    <table>
      <tr>
        <td>
          <label for="email">Email</label>
        </td>
        <td>
          <input type="email" name="email" id="email" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="name">Your name</label>
        </td>
        <td>
          <input type="text" name="name" id="name" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Your password</label>
        </td>
        <td>
          <input type="password" name="password" id="password" />
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Registrieren" />
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
